@font-face {
  font-family: "Noah";
  src: url(../fonts/Noah-Regular.ttf);
}
.portfolio {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.portfolio__block-text {
}
.portfolio__caption {
}
.portfolio__block-img {
  display: grid;
  grid-template-areas:
    "portfolio__img-one portfolio__img-two portfolio__img-two"
    "portfolio__img-three portfolio__quote-container portfolio__img-four";
  gap: 1%;
}
.portfolio__img-one {
  grid-area: portfolio__img-one;
}
.portfolio__img-two {
  grid-area: portfolio__img-two;
}
.portfolio__img-three {
  grid-area: portfolio__img-three;
}
.portfolio__quote-container {
  grid-area: portfolio__quote-container;
  background: #e9ece0;
  padding: 0 8% 0 8%;
  display: flex;
  align-items: center;
}
.portfolio__img-four {
  grid-area: portfolio__img-four;
}
img {
  width: 100%;
  height: 100%;
}
.portfolio__quote-text {
  font-family: "Noah";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
}
.portfolio__block-button {
  display: flex;
  justify-content: center;
}
.portfolio__button {
  background: #545a2f;
  border: none;
  margin-top: 2%;
  height: 60px;
  width: 311px;
}
.portfolio__link {
  text-decoration: none;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  padding: 0 2% 0 2%;
}
