@font-face {
  font-family: "Noah";
  src: url(../fonts/Noah-Regular.ttf);
}

@font-face {
  font-family: "Geometria";
  src: url(../fonts/geometria_light.otf);
}

/* Яна хедер старт */
header {
  margin-bottom: 12%;
}

.header__content {
  background-image: url(../images/main/header_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.header__logo {
  margin-top: 7%;
  margin-left: 10%;
}

.nav-link {
  font-family: "Noah";
  font-style: normal;
  font-weight: 500;
  font-size: calc(20px + 2 * (100vw / 1920));
  line-height: 24px;
  color: #ffffff;
}

.menu__consult {
  margin-top: 3%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.menu__telephone {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  }

.menu__button:active {
  text-decoration: none;
}

.menu__button:hover {
  background-color: #545A2F;
  color: white;
}

.header__text {
  display: flex;
  flex-direction: column;
}

.header__company-name {
  margin-left: 15%;
  margin-top: 5%;
  font-family: "Noah";
  font-size: calc(16px + 8 * (100vw / 1920));
  line-height: 2;
  color: #ffffff;
}

.header__title {
  margin-left: 15%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 46 * (100vw / 1920));
  line-height: 1;
  color: #ffffff;
}

.header__moto {
  margin-left: 15%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(18px + 30 * (100vw / 1920));
  line-height: 2;
  color: #ffffff;
  margin-bottom: 15%;
}

.header__branch {
  max-width: 75%;
  margin-right: 0;
}

.header__link-wrapper {
margin-top: 5%;
}
/* Яна хедер финиш */
/* Основной текст - Асият start */
.description_heading {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59.95px;
  text-align: center;
  color: #1a1a18;
}

.description_content {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 53px;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 196px;
  margin-bottom: 196px;
}
/* Основной текст - Асият finish */

/* Что мы делаем? - Асият start */
/* Что мы делаем? - Асият finish */
/* Алена старт */
/* 

/* алена финиш - коррекция яна */ */
/* <!--  Проекты - Яна start--> */
.projects {
  margin-bottom: 5%;
}

.projects__title {
  margin-top: 5%;
  font-family: "Noah";
  font-style: normal;
  font-size: calc(24px + 34 * (100vw / 1920));
  font-weight: 500;
  line-height: 72px;
  text-align: center;
  color: #1a1a18;
}

.projects__container {
  margin: 0 auto;
  max-width: 95%;
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  gap: 0.3em;
  justify-content: center;
  justify-items: stretch;
}

.projects__img-one {
  grid-area: one;
  max-width: 100%;
}

.projects__img-two {
  grid-area: two;
  max-width: 100%;
}
.projects__img-three {
  grid-area: three;
  max-width: 100%;
}
.projects__img-four {
  grid-area: four;
  max-width: 100%;
}

.projects__button {
  max-width: 230px;
  max-height: 230px;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  border: none;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.projects__button:hover {
  background-color: #545a2f;
  color: white;
}

.projects__link {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #1a1a18;
  text-decoration: none;
}

.projects__link:active {
  text-decoration: none;
}

.projects__link:hover {
  color: white;
}
/* <!--  Проекты - Яна FİNİSH--> */

/* Почему нас выбирают - Динара start */
.values {
  background-color: #dde3e1;
}

.values__container,
.reviews {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 0 auto;
  align-items: center;
}

.values__heading-wrapper,
.reviews__heading-wrapper {
  margin: 3% 0 3% 0;
}

.values__heading-text,
.reviews__heading-text,
.questions__heading-text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(40px + 18 * (100vw / 1920));
  line-height: 72px;
  text-align: center;
  color: #1a1a18;
}

.values__wrap-top,
.values__wrap-bootom {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}

.values__wrap-top {
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5% 0 5%;
}

.values__wrap-bootom {
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15% 0 15%;
}

.values__inner {
  margin: 0 3% 0 3%;
  padding: 5% 10% 5% 10%;
}

.values__icon {
  width: 20%;
}

.values__text,
.reviews__text,
.reviews__topic,
.questions__text,
.questions__instruction-text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(16px + 8 * (100vw / 1920));
  line-height: 30px;
  margin-top: 2%;
  color: #1a1a18;
}

/* Почему нас выбирают - Динара end */

/* Отзывы - Динара start */

.reviews__heading-text_black {
  color: #000000;
}
.reviews__photo {
  width: 100%;
  height: 100%;
}
.reviews__wrap {
  display: grid;
  grid-template-areas: "reviews__photo reviews__inner";
  max-width: 87%;
  margin: 0 auto;
}
.reviews__photo {
  grid-area: reviews__photo;
  width: 100%;
}
.reviews__inner {
  grid-area: reviews__inner;
  padding-left: 12%;
  display: grid;
  grid-template-rows: 15% 10% 10% auto 5%;
}
.reviews__name {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 18 * (100vw / 1920));
  line-height: 47px;
  color: #545a2f;
}
.reviews__topic_green {
  color: #545a2f;
}
.reviews__arrow-icon {
  margin-left: 70%;
}
.reviews__page-icon {
  margin-top: 5%;
}

/* Отзывы - Динара end */

/* Часто зад. вопросы - Динара start */
.questions {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 75%;
  margin: 0 auto;
  padding: 3%;
}
.questions__block-text {
}
.questions__heading-wrapper {
  margin: 0 0 5% 0;
}
.questions__title {
  font-family: "Noah";
  font-style: normal;
  font-weight: 700;
  font-size: calc(20px + 8 * (100vw / 1920));
  line-height: 35px;
  color: #1a1a18;
  position: relative;
  cursor: pointer;
}
.questions__title:before,
.questions__title:after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #545a2f;
  position: absolute;
  top: 10px;
}
.questions__title:before {
  transform: rotate(90deg);
  right: 0;
}
.questions__title:after {
  transform: rotate(-180deg);
  right: 0;
}

.questions__line {
  border: 1px solid #979797;
  width: 100%;
}
.questions__text_none {
  display: none;
}
.questions__block-form {
  background: #dde3e1;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.questions__caption-text,
.application__text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 18 * (100vw / 1920));
  line-height: 47px;
  text-align: center;
  color: #1a1a18;
}
.questions__instruction-text {
  margin: 0;
}
.questions__img {
  width: 100%;
}
.questions__form-email {
  width: 80%;
  border: none;
  padding: 2% 0 2% 2%;
}
.questions__form-checkbox {
  width: 80%;
  display: flex;
  margin: 2%;
}
.questions__checkbox-text {
  margin-left: 5%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a18;
}
.questions__link {
  text-decoration: none;
  color: #545a2f;
}
.questions__button,
.application__button {
  background: #545a2f;
  border: none;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.application__container {
  display: grid;
  max-width: 60%;
  margin: 0 auto;
  grid-template-areas: "application__block-text application__vector-img1 application__button";
  align-items: center;
}
.application__block-text {
  grid-area: application__block-text;
}
.application__title {
  font-family: "Noah";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 46 * (100vw / 1920));
  line-height: 87px;
  color: #1a1a18;
}
.application__text {
  text-align: left;
}
.application__vector-img1 {
  width: 80%;
  grid-area: application__vector-img1;
  padding-top: 40%;
}
.application__vector-img2 {
  display: none;
  grid-area: application__vector-img2;
}
.application__button {
  grid-area: application__button;
}
.application__button-up {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 9;
}
.application__button-img {
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 320px) {
  .reviews {
    margin: 0;
    max-width: 100%;
  }

  .values__wrap-top,
  .values__wrap-bootom {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .values__heading-text,
  .reviews__heading-text,
  .questions__heading-text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(40px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 40px;
    text-align: center;
    color: #1a1a18;
  }

  .values__text,
  .reviews__text,
  .reviews__topic,
  .questions__instruction-text,
  .questions__text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 20px;
    color: #1a1a18;
  }

  .values__text {
    margin: 5% 0 0 10%;
  }

  .values__inner {
    display: flex;
    padding: 0;
    align-items: center;
  }

  .values__icon {
    width: 30%;
    height: 35%;
    margin-right: 10px;
  }
  .reviews__wrap {
    display: grid;
    grid-template-areas:
      "reviews__inner"
      "reviews__photo";
  }
  .reviews__inner {
    padding-left: 0%;
  }
  .reviews__arrow-icon {
    display: none;
  }
  .reviews__name {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(20px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 47px;
    color: #545a2f;
  }
  .questions__block-form {
    display: none;
  }
  .questions__title {
    font-family: "Noah";
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 20px;
    color: #1a1a18;
    position: relative;
    cursor: pointer;
  }
  .questions__caption-text,
  .application__text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 40px;
    text-align: center;
    color: #1a1a18;
  }
  .application__container {
    display: grid;
    grid-template-areas:
      "application__block-text application__vector-img2"
      "application__button application__button";
    align-items: center;
  }
  .application__title {
    font-family: "Noah";
    font-style: normal;
    font-weight: 700;
    font-size: calc(24px + (46 + 46 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 40px;
    color: #1a1a18;
  }
  .application__text {
    text-align: left;
    line-height: 20px;
  }
  .application__vector-img2 {
    height: 70%;
    display: grid;
    grid-area: application__vector-img2;
    transform: rotate(10deg);
  }
  .application__vector-img1 {
    display: none;
  }
}
/* Часто зад. вопросы - Динара end */

/* Футер - Асият start */

.footer {
  background-color: #555934;
  width: 100%;
  margin-top: 5%;
  }

.footer .container {
  padding: 0;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
}

.tel {
  margin-top: 61px;
  margin-bottom: 22px;
}

.mail {
  margin-bottom: 48px;
}

.footer-contacts a {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 61px;
  margin-bottom: 22px;
  }

.footer-copyright {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 20px;
  }

.footer-logo, .socials, .policy {
  display: flex;
}

.footer-logo {
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

.socials{
  margin-top: 38px;
  margin-bottom: 98px;
}

.policy {
  margin-bottom: 20px;
}

.socials, .policy {
justify-content: end;
}

.policy-link {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  }
/* Футер - Асият end */