@font-face {
  font-family: "Noah";
  src: url(../fonts/Noah-Regular.ttf);
}

/* img {
  width: 100%;
  height: 100%;
} */

/* Яна хедер старт */
.header__content {
  background-image: url(../images/main/header_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1950px;
}

.nav-link {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  line-height: 24px;
  color: #FFFFFF;
}

.header-text {}

.header__company-name {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.header__title {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 87px;
  color: #FFFFFF;
}

.header__moto {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}

/* Яна хедер финиш */



/* <!--  Проекты - Яна start--> */
.projects__title {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  text-align: center;
  color: #1A1A18;
  margin-top: 3%;
  margin-bottom: 3%;
}

.projects__container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "one two"
    "three four";
  gap: 1em;
  justify-content: center;
  justify-items: stretch;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.projects__button {
  width: 10%;
  height: 22%;
  margin-left: 40%;
  margin-top: 15%;
  position: absolute;
  background: #FFFFFF;
  border-radius: 50%;
  border: none;
  padding: 4% 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__button:hover {
  background-color: #545A2F;
  color: white;
}

.projects__link {
  font-family: 'Noah';
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  color: #1A1A18;
  text-decoration: none;
}

.projects__link:hover {
  color: white;
}

.projects__link:active {
  text-decoration: none;
}

/* <!--  Проекты - Яна FİNİSH--> */

/* Почему нас выбирают - Динара start */
.values {
  background-color: #dde3e1;
}

.values__heading {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  text-align: center;
  color: #1a1a18;
}

.values__wrap-top,
.values__wrap-bootom {
  max-width: 69%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}

.values__wrap-top {
  grid-template-columns: repeat(3, 1fr);
}

.values__wrap-bootom {
  grid-template-columns: repeat(2, 1fr);
  padding: 0 10% 0 10%;
}

.values__inner {
  margin: 3%;
  padding: 12%;
}

.values__icon {}

.values__text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-top: 2%;
  color: #1a1a18;
}

@media screen and (max-width: 320px) {

  .values__wrap-top,
  .values__wrap-bootom {
    max-width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .values__heading {
    font-family: "Noah";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #1a1a18;
  }

  .values__text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1a1a18;
  }

  .values__inner {
    display: flex;
    padding: 0;
  }
}

/* Почему нас выбирают - Динара end */

/* Отзывы - Динара start */
/* Отзывы - Динара end */

/* Часто зад. вопросы - Динара start */
/* Часто зад. вопросы - Динара end */