@font-face {
  font-family: "Noah";
  src: url(../fonts/Noah-Regular.ttf);
}

@font-face {
  font-family: "Geometria";
  src: url(../fonts/geometria_light.otf);
}

@font-face {
  font-family: "MarckScript-Regular";
  src: url(../fonts/MarckScript-Regular.ttf);
}
/* Яна хедер старт */
header {
  margin-bottom: 12%;
}

.header__content {
  background-image: url(../images/main/header_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.header__logo {
  max-width: 100%;
  margin-top: 7%;
  margin-left: 10%;
}

.nav-link {
  font-family: "Noah";
  font-style: normal;
  font-weight: 500;
  font-size: calc(20px + 2 * (100vw / 1920));
  line-height: 24px;
  color: #ffffff;
}

.menu__consult {
  margin-top: 3%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.menu__telephone {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.menu__button:active {
  text-decoration: none;
}

.menu__button:hover {
  background-color: #545a2f;
  color: white;
}

.header__text {
  display: flex;
  flex-direction: column;
}

.header__company-name {
  margin-left: 15%;
  margin-top: 5%;
  font-family: "Noah";
  font-size: calc(16px + 8 * (100vw / 1920));
  line-height: 2;
  color: #ffffff;
}

.header__title {
  margin-left: 15%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 46 * (100vw / 1920));
  line-height: 1;
  color: #ffffff;
}

.header__moto {
  margin-left: 15%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(18px + 30 * (100vw / 1920));
  line-height: 2;
  color: #ffffff;
  margin-bottom: 15%;
}

.header__branch {
  position: absolute;
  max-width: 75%;
  margin-right: 0;
}

.header_link-icon {
  max-width: 100%;
}
/* Яна хедер финиш */
/* Основной текст - Асият start */
.description {
  position: relative;
}

.description__heading {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59.95px;
  text-align: center;
  color: #1a1a18;
}

.description__content {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 53px;
}

.description__branch-left {
  position: absolute;
  left: 0%;
  bottom: 45%;
  width: 26.6%;
}

.description__branch-right {
  position: absolute;
  right: 0%;
  bottom: 46.8%;
  width: 24.3%;
}

.description__gallery {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 196px;
  margin-bottom: 196px;
}

.description__photo {
  width: 32%;
}

.advantages__heading {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59.95px;
  text-align: center;
  color: #1a1a18;
  margin-bottom: 0;
}

.advantages li {
  width: 30.3%;
  margin: 0;
  padding-left: 4.7%;
	list-style: none;
	background-image: url(../images/main/advantage-check.svg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 9.5%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.98px;
}

.advantages li:first-child {
  margin-top: 199px;
  margin-left: 46.4%;
}

.advantages li:nth-child(2) {
  margin-top: 156px;
  margin-left: 49%;
}

.advantages li:last-child {
  margin-top: 161px;
  margin-left: 50.89%;
}

/* Основной текст - Асият finish */

/* Что мы делаем? - Асият start */
/* Что мы делаем? - Асият finish */

/* Как выбрать растения - Динара start */
.instruction {
  display: grid;
  grid-template-areas:
    "instruction__box instruction__caption-block"
    "instruction__box-img instruction__block-form";
  margin: 5% 0 15% 0;
}
.instruction__box {
  grid-area: instruction__box;
}
.instruction__caption-block {
  grid-area: instruction__caption-block;
  display: flex;
  align-items: flex-end;
}
.instruction__caption-text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(40px + 18 * (100vw / 1920));
  line-height: 72px;
  color: #1a1a18;
}
.instruction__block-form {
  grid-area: instruction__block-form;
  background: #dde3e1;
  height: 30vh;
}
.instruction__inner-form {
  height: 100%;
  display: grid;
  grid-template-rows: 25% 15% 30% 30%;
}
.instruction__box-img {
  grid-area: instruction__box-img;
  background: #dde3e1;
  height: 30vh;
  display: flex;
  align-items: center;
}
.instruction__img {
  margin-left: 15%;
  height: 200%;
  max-width: 75%;
}
.instruction__button {
  background: #545a2f;
  border: none;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  width: 40%;
  height: 50%;
}
.instruction-mobile {
  display: none;
}
/* Как выбрать растения - Динара finish */
/* <!--  Проекты - Яна start--> */
.projects {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}
.projects__title {
  margin-bottom: 3%;
  margin-top: 5%;
  font-family: "Noah";
  font-style: normal;
  font-size: calc(24px + 34 * (100vw / 1920));
  font-weight: 500;
  line-height: 72px;
  text-align: center;
  color: #1a1a18;
}

.projects__container {
  margin: 0 auto;
  max-width: 95%;
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  gap: 0.3em;
  justify-content: center;
  justify-items: stretch;
}

.projects__img-one {
  grid-area: one;
  max-width: 100%;
}

.projects__img-two {
  grid-area: two;
  max-width: 100%;
}
.projects__img-three {
  grid-area: three;
  max-width: 100%;
}
.projects__img-four {
  grid-area: four;
  max-width: 100%;
}

.projects__button {
  max-width: 230px;
  max-height: 230px;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  border: none;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.projects__button:hover {
  background-color: #545a2f;
  color: white;
}

.projects__link {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #1a1a18;
  text-decoration: none;
}

.projects__link:active {
  text-decoration: none;
}

.projects__link:hover {
  color: white;
}

.four-steps {
  margin: 10% 10% 10% 10%;
}

.four-steps__title {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(24px + 34 * (100vw / 1920));
  text-align: center;
  color: #333333;
}

.four-steps__description-two {
  margin-left: 2%;
}

.four-steps__title-dream,
.four-steps__bold-text {
  font-weight: bolder;
}

.four-steps__bold-text {
  margin: 0%;
}

.four-steps__bold-text,
.four-steps__text {
  font-family: "Noah";
  font-style: normal;
  font-size: calc(16px + 12 * (100vw / 1920));
  color: #000000;
}

.four-steps__number-one,
.four-steps__number-two,
.four-steps__number-three,
.four-steps__number-four {
  font-family: "MarckScript-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: calc(64px + 32 * (100vw / 1920));
  color: #545a2f;
}

@media screen and (max-width: 320px) {
  .projects {
    margin-top: 10%;
    max-width: 100%;
  }

  .projects__button {
    margin-bottom: 10%;
    width: 320px;
    position: initial;
    border-radius: 0%;
    background-color: #545a2f;
  }

  .projects__link {
    color: white;
  }

  .projects__arrow-button {
    display: none;
  }

  .projects__title {
    margin: 0;
    font-size: calc(24px + (34 + 34 * 0.7) * ((100vw - 320px) / 1920));
  }

  .projects__container {
    display: grid;
    grid-template-areas:
      "projects__img-one"
      "projects__img-two"
      "projects__img-three"
      "projects__img-four"
      "projects__button";
  }

  .four-steps {
    margin-left: 0%;
    margin-right: 0%;
  }
  .four-steps__container-fluid,
  .four-steps__steps {
    flex-direction: column;
  }

  .four-steps__steps {
    align-items: center;
  }

  .four-steps__title,
  .four-steps__title-dream {
    font-size: calc(24px + (34 + 34 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 29.98px;
  }

  .four-steps__bold-text,
  .four-steps__text {
    font-size: calc(16px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
    margin: 0%;
  }

  .four-steps__number-one,
  .four-steps__number-two,
  .four-steps__number-three,
  .four-steps__number-four {
    font-size: calc(64px + (32 + 32 * 0.7) * ((100vw - 320px) / 1920));
    margin: 0%;
  }
}
/* <!--  Проекты - Яна FİNİSH--> */
/* Почему нас выбирают - Динара start */
.values {
  background-color: #dde3e1;
}

.values__container,
.reviews {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 0 auto;
  align-items: center;
}

.values__heading-wrapper,
.reviews__heading-wrapper {
  margin: 3% 0 3% 0;
}

.values__heading-text,
.reviews__heading-text,
.questions__heading-text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(40px + 18 * (100vw / 1920));
  line-height: 72px;
  text-align: center;
  color: #1a1a18;
}

.values__wrap-top,
.values__wrap-button {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}

.values__wrap-top {
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5% 0 5%;
}

.values__wrap-button {
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15% 0 15%;
}

.values__inner {
  margin: 0 3% 0 3%;
  padding: 5% 10% 5% 10%;
}

.values__icon {
  width: 20%;
}

.values__text,
.reviews__text,
.reviews__topic,
.questions__text,
.questions__instruction-text,
.instruction__text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(16px + 8 * (100vw / 1920));
  line-height: 30px;
  margin-top: 2%;
  color: #1a1a18;
}

/* Почему нас выбирают - Динара end */

/* Отзывы - Динара start */

.reviews__heading-text_black {
  color: #000000;
}
.reviews__block-photo {
  display: flex;
  align-items: center;
}
.reviews__photo {
  width: 100%;
}
.reviews__wrap {
  display: grid;
  grid-template-areas: "reviews__photo reviews__inner";
  max-width: 87%;
  margin: 0 auto;
}
.reviews__photo {
  grid-area: reviews__photo;
  max-width: 100%;
}
.reviews__inner {
  grid-area: reviews__inner;
  padding-left: 12%;
  display: grid;
  grid-template-rows: 15% 10% 10% auto 5%;
}
.reviews__name {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 18 * (100vw / 1920));
  line-height: 47px;
  color: #545a2f;
}
.reviews__topic_green {
  color: #545a2f;
}
.reviews__arrow-icon {
  margin-left: 70%;
}
.reviews__page-icon {
  margin-top: 5%;
}

/* Отзывы - Динара end */

/* Часто зад. вопросы - Динара start */
.questions {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 75%;
  margin: 0 auto;
  padding: 3%;
}
.questions__heading-wrapper {
  margin: 0 0 5% 0;
}
.questions__title {
  font-family: "Noah";
  font-style: normal;
  font-weight: 700;
  font-size: calc(20px + 8 * (100vw / 1920));
  line-height: 35px;
  color: #1a1a18;
  position: relative;
  cursor: pointer;
}
.questions__title:before,
.questions__title:after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #545a2f;
  position: absolute;
  top: 10px;
}
.questions__title:before {
  transform: rotate(90deg);
  right: 0;
}
.questions__title:after {
  transform: rotate(-180deg);
  right: 0;
}

.questions__line {
  border: 1px solid #979797;
  width: 100%;
}
.questions__text_none {
  display: none;
}
.questions__block-form {
  background: #dde3e1;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.instruction-mobile__caption-text,
.questions__caption-text,
.application__text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 18 * (100vw / 1920));
  line-height: 47px;
  text-align: center;
  color: #1a1a18;
}
.instruction-mobile__instruction-text,
.questions__instruction-text {
  margin: 0;
}
.instruction-mobile__img,
.questions__img {
  width: 100%;
}
.instruction-mobile__form-email,
.questions__form-email,
.instruction__form-email {
  width: 80%;
  border: none;
  padding: 2% 0 2% 2%;
}
.instruction-mobile__form-checkbox,
.questions__form-checkbox,
.instruction__form-checkbox {
  width: 80%;
  display: flex;
  margin: 2%;
}
.instruction-mobile__checkbox-text,
.questions__checkbox-text,
.instruction__checkbox-text {
  margin-left: 5%;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a18;
}
.questions__link {
  text-decoration: none;
  color: #545a2f;
}
.instruction-mobile__button,
.questions__button {
  background: #545a2f;
  border: none;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  width: 70%;
}

.application__container {
  display: grid;
  max-width: 70%;
  margin: 0 auto;
  grid-template-areas: "application__block-text application__vector-img1 application__button-container";
  align-items: center;
  gap: 1%;
}
.application__block-text {
  grid-area: application__block-text;
  max-width: 70%;
}
.application__title {
  font-family: "Noah";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24px + 46 * (100vw / 1920));
  line-height: 50px;
  color: #1a1a18;
}
.application__text {
  text-align: left;
}
.application__vector-img1 {
  grid-area: application__vector-img1;
  padding-top: 40%;
  max-width: 100px;
}
.application__vector-img2 {
  display: none;
  grid-area: application__vector-img2;
}
.application__button-container {
  grid-area: application__button-container;
}
.application__button {
  width: 100%;
}
/* .application__button-up {
  position: fixed;
  bottom: 28px;
  right: 2%;
  z-index: 9;
}
.application__button-img {
  height: 80px;
  width: 80px;
} */

/* Футер - Асият start */
.footer {
  background-color: #555934;
  width: 100%;
  margin-top: 5%;
}

.footer .container {
  padding: 0;
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
}

.footer__tel {
  margin-top: 61px;
  margin-bottom: 22px;
}

.footer__mail {
  margin-bottom: 48px;
}

.footer__contacts a {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 61px;
  margin-bottom: 22px;
}

.footer__copyright {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 20px;
}

.footer__logo,
.footer__socials,
.footer__policy {
  display: flex;
}

.footer__logo {
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

.footer__socials {
  margin-top: 38px;
  margin-bottom: 98px;
}

.footer__policy {
  margin-bottom: 20px;
}

.footer__socials,
.footer__policy {
  justify-content: end;
}

.footer__policy-link {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
/* Футер - Асият end */

@media screen and (max-width: 767px) {
  .instruction__block-form,
  .instruction__box-img {
    height: 20vh;
  }
  .instruction__checkbox-text,
  .instruction__button {
    font-size: 10px;
    line-height: 12px;
  }
  .values__text,
  .reviews__text,
  .reviews__topic,
  .questions__instruction-text,
  .questions__text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(20px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 24px;
    color: #1a1a18;
  }
  .values__heading-text,
  .reviews__heading-text,
  .questions__heading-text,
  .instruction__caption-text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(40px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 50px;
    text-align: center;
    color: #1a1a18;
  }
}
@media screen and (min-width: 321px) {
  .instruction-mobile {
    display: none;
  }
  .instruction__checkbox-text,
  .instruction__button {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  header {
    margin: 0;
    max-width: 100%;
  }

  .header__menu-wrapper,
  .header_link-icon,
  .header__link-wrapper {
    display: none;
  }

  .header__branch {
    position: absolute;
    max-width: 50%;
  }

  .header__link-img {
    max-width: 50%;
  }

  .header__company-name {
    margin-top: 10%;
    margin-left: 1%;
    font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    margin-left: 1%;
    line-height: 20px;
  }

  .header__title {
    font-size: calc(24px + (46 + 46 * 0.7) * ((100vw - 320px) / 1920));
    margin-left: 1%;
    line-height: 30px;
  }

  .header__moto {
    font-size: calc(18px + (30 + 30 * 0.7) * ((100vw - 320px) / 1920));
    margin-left: 1%;
    line-height: 22px;
  }

  .instruction {
    display: none;
  }

  .instruction-mobile {
    background: #dde3e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
  }

  .reviews {
    margin: 8% 0 8% 0;
    max-width: 100%;
  }

  .values__wrap-top,
  .values__wrap-button {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .values__heading-text,
  .reviews__heading-text,
  .questions__heading-text,
  .instruction__caption-text,
  .instruction__text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(40px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 40px;
    text-align: center;
    color: #1a1a18;
  }

  .values__text,
  .reviews__text,
  .reviews__topic,
  .questions__instruction-text,
  .questions__text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 20px;
    color: #1a1a18;
  }

  .values__text {
    margin: 5% 0 0 10%;
  }

  .values__inner {
    display: flex;
    padding: 0;
    align-items: center;
  }

  .values__icon {
    width: 30%;
    height: 35%;
    margin-right: 10px;
  }

  .reviews__wrap {
    display: grid;
    grid-template-areas:
      "reviews__inner"
      "reviews__photo";
  }
  .reviews__inner {
    padding-left: 0%;
  }
  .reviews__arrow-icon {
    display: none;
  }
  .reviews__name {
    font-family: "Noah";
    font-style: normal;
    font-weight: 300;
    font-size: calc(20px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 47px;
    color: #545a2f;
  }
  .questions__block-form {
    display: none;
  }
  .questions__title {
    font-family: "Noah";
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 20px;
    color: #1a1a18;
    position: relative;
    cursor: pointer;
  }
  .instruction-mobile__caption-text,
  .questions__caption-text,
  .application__text {
    font-family: "Noah";
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + (18 + 18 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 40px;
    text-align: center;
    color: #1a1a18;
  }
  .application__container {
    display: grid;
    grid-template-areas:
      "application__block-text application__vector-img2"
      "application__button-container application__button-container";
    align-items: center;
  }
  .application__title {
    font-family: "Noah";
    font-style: normal;
    font-weight: 700;
    font-size: calc(24px + (46 + 46 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 40px;
    color: #1a1a18;
  }
  .application__text {
    text-align: left;
    line-height: 20px;
  }
  .application__vector-img2 {
    height: 70%;
    display: grid;
    grid-area: application__vector-img2;
    transform: rotate(10deg);
  }
  .application__vector-img1 {
    display: none;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    /*    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "footer__logo"
    "footer__contacts"
    "footer__socials"
    "footer__policy"
    "footer__copyright";
    align-items: center;
    justify-content: center; */
  }
}

